---
import Layout from "../layouts/Layout.astro" 
import GiftItem from "../components/GiftItem.astro"
---


<Layout title="Gift-Wishlist">
    <main>
        <ul class="gift-list">
            <GiftItem url="_blank"></GiftItem>
        </ul>
    </main>
</Layout>