---
interface Props {
    topic: string,
    href: string,
}

const {topic, href} = Astro.props;
---

<a href={href}>
    {topic}
</a>

<style>
    a {
        color: inherit;
        text-decoration: none;
        font-size: 2rem;
        border-radius: 12px;
        text-align: center;
        flex-wrap: nowrap;
        flex-basis: 10%;
        transition: background-color 0.5s cubic-bezier(0.5,1,0.5,1);
        transition: opacity 0.5s cubic-bezier(0.5,1,0.5,1);
        opacity: 0.8;
        scroll-behavior: smooth;
        padding: 1rem 0 0 0;
    }
    a:is(:hover,:focus-within) {
        background-color: rgb(var(--accent-dark));
        opacity: 1;
    }
</style>
